*.pkl
*.joblib
*.h5
*.pb
*.pt
*.pth
*.onnx
mlflow.db
membangun model/best_model.pkl
membangun model/scaler.pkl
Monitoring dan Logging/prometheus
Monitoring dan Logging/data/
mlartifacts
actual_vs_prediksi.png
feature_importance.png
residual_plot.png
screenshoot_artifak.jpg